<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    var chat_name = 'Ankur shukla';
    var chat_id = '5af9879ca4cb8a1fe8c0b3de';
    var chat_friends ='59f865d17da4ca49ee36581d,5b30d47f05ae04452ad8f902,5b30d40b05ae04452ad8f901,5b30bc0005ae04452ad8f8f7,5b30a64605ae04452ad8f8d7,5b309b7505ae04452ad8f8d0,5b306d9005ae04452ad8f8b7,5b2fc03105ae04452ad8f8a1,5b2fbd2805ae04452ad8f89e';
</script>
<body>

<div id="cometchat_embed_synergy_container" style="width:100vw;height:700px;max-width:100%;border:1px solid #CCCCCC;border-radius:5px;overflow:hidden;" ></div>

<script src="//fast.cometondemand.net/51058x_xacc10x_xcorex_xembedcode.js" type="text/javascript"></script><script>var iframeObj = {};iframeObj.module="synergy";iframeObj.style="min-height:420px;min-width:100vw;";iframeObj.width="100vw";iframeObj.height="700px";iframeObj.src="//51058.cometondemand.net/cometchat_embedded.php"; if(typeof(addEmbedIframe)=="function"){addEmbedIframe(iframeObj);}</script>


</body>
</html>